@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

:root {
    --cor-branco: #fff;
    --cor-do-vermelho: #ff4545;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    width: 100%;
    box-sizing: border-box;
}

#Inicio, #Conteudo, #Trailer {
    scroll-margin-top: 90px;
}

#Formulario {
    scroll-margin-top: 60px;
}

/* Para o Menu */
.Menus nav .Efeito {
    position: relative;
    color: var(--cor-branco);
    margin-right: 100px;
    text-decoration: none;
    font-size: 28px;
}

.Menus a {
    margin-left: 40px;
}

.Menus nav .Efeito::after {
    content: " ";
    width: 0px;
    height: 2px;
    background-color: rgb(190, 190, 190);
    position: absolute;
    top: 32px;
    left: 0px;
    transition: width 0.5s;
}

.Menus nav a:hover::after {
    width: 70px;
}

.Container {
    margin: 0;
    display: flex;
    align-items: center;
}

Header {
    background-color: rgba(17, 80, 88, 1);
    position: fixed;
    width: 100%;
    padding: 5px;
    border-bottom: solid 4px rgb(0, 0, 0);
    z-index: 1;
}

.Logo {
    margin: 5px 30px;
    margin-right: 70px;
    width: 150px
}

.Menus {
    font-family: "Itim", cursive;
    width: 100%;
}

.Navegacao {
    display: flex;
}

/* Botao de jogue agora */
.Jogue_Agora {
    background-color: #FC6E6E;
    color: var(--cor-branco);
    font-family: "Itim", cursive;
    padding: 4px 70px;
    font-size: 23px;
    font-weight: 500;
    /* top right Botton left */
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
    flex-shrink: 0;
    transition: all 0.5s ease-in-out;
}

.Jogue_Agora:hover {
    background-color: var(--cor-do-vermelho);
    color: var(--cor-branco);
    font-weight: bold;
    transform: scale(1.05);
}

/* menu Mobile */
.Menu-Mobile {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.596);
    backdrop-filter: blur(10px);
    position: absolute;
    width: 100%;
    top: 97px;
    left: 0;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    z-index: 10;
}

.Menu-Mobile nav a {
    color: var(--cor-branco);
    font-family: "Itim", cursive;
    font-size: 23px;
    text-align: left;
    text-decoration: none;
    display: block;
    padding: 20px 30px;
    transition: all 0.5s ease;
}

.Menu-Mobile nav a:hover {
    background-color: #d4aaaae8;
    color: #241a1a;
}

#Btn-Menu {
    width: 60px;
    height: 50px;
    background: transparent;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    transition: .2s;
    border: 0;
    display: none;
    margin-right: 10px;
}

#Btn-Menu.Ativar-Menu-Mobile {
    border: 3px solid var(--cor-do-vermelho);
    background-color: rgb(47, 57, 58);
    box-shadow: 1px 1px 2px 2px;
}

/* chamando o js no botao, DEG significa Graus */
#Btn-Menu.Ativar-Menu-Mobile .Linha:nth-child(1) {
    transform: translateY(8px) rotate(-45deg);
    background-color: var(--cor-do-vermelho);
}

#Btn-Menu.Ativar-Menu-Mobile .Linha:nth-child(3) {
    transform: translateY(-8px) rotate(45deg);
    background-color: var(--cor-do-vermelho);
}

#Btn-Menu.Ativar-Menu-Mobile .Linha:nth-child(2) {
    width: 0;
}

.Linha {
    position: relative;
    height: 3px;
    background: var(--cor-branco);
    width: 35px;
    display: block;
    margin: 5px auto;
    /* pegando o ponto ancora e centralizar */
    transform-origin: center;
    transition: .2s;
}

/* Parallax */
.Hidden {
    opacity: 0;
    filter: blur(12px);
    transform: translateX(-100%);
    transition: all 1.2s;
}

.Hidden2 {
    opacity: 0;
    filter: blur(12px);
    transition: all 0.6s;
}

.Show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 1.2s;
}

.Navegacao :nth-child(2) {
    transition-delay: 200ms;
}

.Navegacao :nth-child(3) {
    transition-delay: 400ms;
}

.Navegacao :nth-child(4) {
    transition-delay: 700ms;
}

.Navegacao :nth-child(5) {
    transition-delay: 900ms;
}

.Navegacao :nth-child(6) {
    transition-delay: 1100ms;
}

/* Para o forms */
.Caixas_Container :nth-child(1)  {
    transition-delay: 50ms;
}

.Caixas_Container :nth-child(2)  {
    transition-delay: 50ms;
}

.Caixas_Container :nth-child(3)  {
    transition-delay: 50ms;
}

.Caixas_Container :nth-child(4)  {
    transition-delay: 50ms;
}

.Caixas_Container :nth-child(5)  {
    transition-delay: 50ms;
}

@media screen and (max-width: 1490px) 
{

    /* parte dos menus */
    .Menus {
        display: none;
    }

    .Container {
        justify-content: space-between;
    }

    .Menu-Mobile.abrir {
        visibility: visible;
        height: calc(100vh - 97px);
    }

    #Btn-Menu {
        display: block;
    }

    .Logo {
        width: 70px;
    }

    #Formulario {
        scroll-margin-top: 80px;
    }
}

@media screen and (max-width: 1775px) 
{
    .Menus nav .Efeito {
        margin-right: 70px;
    }
}

@media screen and (max-width: 1620px) 
{
    .Menus nav .Efeito {
        margin-right: 50px;
    }

    .Logo {
        margin-right: 50px;
    }
}

